<%= form_with model: @article, data: { turbo: false } do |form| %>

    <div class="container">
        <div class="row my-4">
            <div class="col">
                <%= form.label :name, "ウェブサイト名"%>
                <%= form.text_field :name, class: "form-control"%>
            </div>

            <div class="col">
                <%= form.label :url, "URL" %>
                <%= form.text_field :url, class: "form-control"%>
            </div>
        </div>

        <div class="row my-4">
            <div class="col">
                <%= form.label :category_ids, "カテゴリ" %>
                <%= form.collection_check_boxes :category_ids, Category.all, :id, :name, class: "form-check-inline" %>
            </div>
        </div>

        <div>
            <%= form.submit %>
        </div>
    </div>
<% end %>