<%= form_with model: @article, data: { turbo: false } do |form| %>

    <div class="container">
        <div class="row my-4">
            <div class="col">
                <%= form.label :name, "ウェブサイト名"%>
                <%= form.text_field :name, class: "form-control"%>
            </div>

            <div class="col">
                <%= form.label :url, "URL" %>
                <%= form.text_field :url, class: "form-control"%>
            </div>
        </div>

        <div class="row my-4">
            <div class="col">
                <%= form.label :category_ids, "カテゴリ" %>
                <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
                    <div class="category">
                        <%= b.check_box %>
                        <%= b.label %>
                    </div>
                <% end %>
            </div>
        </div>

        <div>
            <%= form.submit submit_button_label || "送信", class: "btn btn-outline-primary" %>
        </div>
    </div>
<% end %>