<h1><%= @article.name %></h1>

<div class="container">
    <section class="article_info my-2">
        <div class="url my-2">URL: <%= @article.url %></div>

        <div class="category my-2">カテゴリ: <% @article.categories.each do |category| %>
                        <%= category.name %>
                    <% end %>
        </div>

        <div class="dateinfo">作成日: <%= @article.created_at %> 更新日: <%= @article.updated_at %></div>
    </section>

    <div class="row justify-content-center mt-4">
        <div class="col-2">
            <%= link_to "スクラップ一覧に戻る", articles_path, class: "btn btn-outline-secondary"%>
        </div>
        <div class="col-2">
            <%= link_to "このスクラップを編集", edit_article_path(@article), class: "btn btn-outline-secondary"%>
        </div>
        <div class="col-2">
            <%= button_to "このスクラップを削除", {controller: "articles", action: "destroy", id: @article.id}, method: :delete, class: "btn btn-outline-warning"%>
        </div>
    </div>
</div>